@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&family=Sunshiney&display=swap');

/* Declaring color variables */
:root {
  --bg-colour-main: #996633;
  --bg-colour-playable-area: #663300;
  --colour-text-main: #fffccc;
}

/* Utilities classes */
.flex-container-column {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.flex-container-row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.flex-justify-center {
    justify-content: center;
}

.text-justify-center {
    text-align: center;
}

.flex-item-grow {
    flex-grow: 1;
}

.flex-item-center {
    align-self: center;
}

/* Color classes */
.bg-colour-main {
    background-color: var(--bg-colour-main);
}

.bg-colour-playable-area {
    background-color: var(--bg-colour-playable-area);
}

/* Elements setup */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: var(--colour-text-main);
    height: 100vh;
    margin: 0 2.5vw;
}

h2 {
    font-family: "Sunshiney", sans-serif;
    font-size: 3rem;
    margin: 0;
}

h4 {
    font-family: "Sunshiney", sans-serif;
    font-size: 2.5rem;
    margin: 2.5vh 0 2.5vh;
}

p {
    font-size: 1.65rem;
    letter-spacing: 1.2px;
    font-weight: 500;
    margin: 2.5vh 2.5vw;
}

#game-header {
    height: 15vh;
}

#game-footer {
    height: 12.5vh;
}

#game-playable-area {
    height: 72.5vh;
    width: 100%;
    border-radius: 30px;
}

.image-simon {
    height: 35vh;
    width: 35vh;
    /* Image masking found in: https://developer.mozilla.org/en-US/docs/Web/CSS/mask-image */
    mask-image: url(../images/simon-mask.png);
    -webkit-mask-image: url(../images/simon-mask.png);
    -webkit-mask-size: contain;
    mask-size: contain;
    margin: 5vh;
}

.image-instruction {
    max-width: 60vw;
    max-height: 100%;
}

button {
    background-color: transparent;
    border: 5px solid var(--colour-text-main);
    border-radius: 10px;
    color: var(--colour-text-main);
    font-size: 1.65rem;
    font-weight: 700;
    text-transform: uppercase;
}

button:hover, button:focus, button:active {
    /* Changing cursor to pointer found in: https://www.w3docs.com/snippets/css/how-to-change-cursor-on-hover-in-css.html */
    cursor: pointer;
    background-color: var(--bg-colour-playable-area);
    outline: none;
}

button:active {
    transform: scale(0.75);
}
